<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" 
          android:versionName="1.0" package="com.companyname.tabscamarageomapa">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
    <application android:label="TabsCamaraGeoMapa.Android" android:theme="@style/MainTheme">


      <provider android:name="androidx.core.content.FileProvider"
              android:authorities="com.companyname.tabscamarageomapa.fileprovider"
              android:exported="false" android:grantUriPermissions="true">
        <meta-data android:name="android.support.FILE_PROVIDER_PATHS" 
                   android:resource="@xml/file_paths"></meta-data>
      </provider>
      
      <meta-data android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyCF7J7YB_VCVrpbTe9V7kQB6203EwpH0Y8">
      </meta-data>
      
    </application>
  
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />


</manifest>
